<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <p>Departure Airports</p>
    <mat-list fxLayout="column">
      <mat-checkbox
        *ngFor="let condition of departureConditions; let i = index"
        (change)="onDepartureClick($event.checked, condition)"
        [checked]="condition.value"
      >
        {{condition.fieldValue}} ({{condition.count}})
      </mat-checkbox>
    </mat-list>
  </div>

  <div>
    <p>Arrival Airports</p>
    <mat-list fxLayout="column">
      <mat-checkbox
        *ngFor="let condition of arrivalConditions; let i = index"
        (change)="onArrivalClick($event.checked, condition)"
        [checked]="condition.value"
      >
        {{condition.fieldValue}} ({{condition.count}})
      </mat-checkbox>
    </mat-list>
  </div>

  <div>
    <p>Tail Numbers</p>
    <mat-list fxLayout="column">
      <mat-checkbox
          *ngFor="let condition of tailConditions; let i = index"
          (change)="onTailNumberClick($event.checked, condition)"
          [checked]="condition.value"
        >
          {{condition.fieldValue}} ({{condition.count}})
        </mat-checkbox>
    </mat-list>
  </div>

</div>
