.twoColumnList {
    column-count: 2;
    padding-left: 8px;
}
.oneColumnList {
    column-count: 1;
    padding-left: 8px;
}

.form-group {
    background: #f6f6f8;
    padding: 1rem;
    border-radius: 12px;
}