.field-name {
  padding: 4px 0px;
}

.value-container {
  border: 1px;
  border-style: inset;
}

.field-value {
  padding: 4px;
}

agm-map {
  height: 500px;
}

.map-container {
  height: 500px;
  width: 100%;
}

