<div fxLayout.lt-md="column" fxLayoutGap="16px">
  <div *ngIf="flight !== undefined" fxLayout="row">
    <div fxFlex="100%">
      <app-flight-list></app-flight-list>
    </div>
  </div>
  <div>
    <div *ngIf="flightDataResult === undefined" fxLayoutAlign="center center" class="map-container">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="flightDataResult !== undefined">
      <agm-map [latitude]="mapCenterLat" [longitude]="mapCenterLng" [fitBounds]="true">
        <agm-marker [latitude]="departureLat" [longitude]="departureLon" [agmFitBounds]="true"></agm-marker>
        <agm-marker [latitude]="arrivalLat" [longitude]="arrivalLon" [agmFitBounds]="true"></agm-marker>
        <agm-polyline>
          <agm-polyline-point *ngFor="let record of flightDataResult.records"
            [latitude]="record.latitude"
            [longitude]="record.longitude">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
  </div>
</div>
