<div class="row">
  <div class="col-md-6 col-lg-4 col-xl-3">
    <div *ngIf="flight !== undefined">
      <table class="table">
        <tr>
          <td>Departure</td>
          <td>{{flight.departureAirport}}</td>
        </tr>
        <tr>
          <td>Arrival</td>
          <td>{{flight.arrivalAirport}}</td>
        </tr>
        <tr>
          <td>Date</td>
          <td>{{flight.startDateTime | date:"yyyy-MM-dd" }}</td>
        </tr>
        <tr>
          <td>Time</td>
          <td>{{flight.startDateTime | date:"HH:mm"}}</td>
        </tr>
        <tr>
          <td>Tail Number</td>
          <td>{{flight.tailNumber}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col align-self-center" align="center">
    <div *ngIf="flightDataResult === undefined">      
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div *ngIf="flightDataResult !== undefined">
      <agm-map [latitude]="mapCenterLat" [longitude]="mapCenterLng">
        <agm-polyline>
          <agm-polyline-point *ngFor="let record of flightDataResult.records" 
            [latitude]="record.latitude" 
            [longitude]="record.longitude">
          </agm-polyline-point>
        </agm-polyline>
      </agm-map>
    </div>
  </div>
</div>

<!-- 
<div class="row py-3">
  <div class="col"></div>
</div>
<div class="row">
  <div class="col-md-9 offset-md-2">
      <div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas #canvas id="canvas"></canvas>
      </div>
  </div>
</div>
 -->
