<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="departure">
    <mat-header-cell *matHeaderCellDef>Departure</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.departureAirport }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="arrival">
    <mat-header-cell *matHeaderCellDef>Arrival</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.arrivalAirport }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="depDate">
    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.startDateTime | date:"yyyy-MM-dd" }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="depTime">
    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Time</mat-header-cell>
    <mat-cell *matCellDef="let element" fxHide fxShow.gt-xs>{{ element.startDateTime | date:"HH:mm" }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="tailNumber">
    <mat-header-cell *matHeaderCellDef>Tail #</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ element.tailNumber }}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onFlightClick(row)"></mat-row>

</mat-table>
